* {
  box-sizing: border-box;
  margin: 0%;
}
a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-family: "montserrat", "Arial Narrow", Arial, sans-serif;
}
li {
  list-style: none;
}

ul {
  padding-inline-start: 0%;
}

body {
  background-color: rgb(6, 0, 19);
  position: relative;
}

code {
  font-family: "montserrat", Verdana, Tahoma, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: linear-gradient(rgb(83, 83, 83), rgb(44, 44, 44));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 5%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 196, 196);
}

.heading h2 {
  font-family: "montserrat";
  font-weight: 600;
  color: white;
  font-size: 1.7em;
  margin: 20px 0px 10px 0px;
}

/* Arrow style */

.movie-poster {
  vertical-align: baseline;
  border-radius: 10%;
  cursor: pointer;
  transition: transform 450ms;
}

.movie-poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
